.header {
    .navbar {
        .logo {
            font-weight: 700;
            font-size: 18px;
        }
        padding: 0 !important;

        .nav-link {
            padding-right: 0 !important;
            padding-left: 25px !important;
            font-size: 14px;
            text-align: center;
            font-weight: 500;
            color: black;

            &:hover {
                color: black;
            }
        }
        
        .navbar-toggler {
            border: none !important;
            padding: 0 !important;
            font-size: 14px !important;
            outline: 0 !important;
        }

        @media screen and (max-width: 576px) {
            .nav-link {
                padding-left: 0px !important;
            }
        }
    }
}
