.search {
    margin-top: 130px;
    margin-bottom: 70px;
    font-weight: 700;

    .searchBarWrapper {
        height: 500px;
    }

    .searchHeader{
        text-align: center;
        padding-bottom: 30px;
        
        img {
            width: 60%;
            max-width: 400px;
        }
    }
}