.searchBar {
    background-color: green;
    ul,li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0; }
    // .listBox{
    //     color: blue
    // }
    // .suggestion {
    //     // margin-left: -20px;
    //     color: blue
    // }
    // .searchButton {
    //     background-color: pink;
    // }
}
