.searchBar {
    // background-color: green;
    font-size: 18px;
    margin-top: 25px;

    ul,li {
        list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0; 
    }

    .suggestionArtist {
        position: absolute;
        font-size: 14px;
        line-height: 0.5px !important;
        float: right;
        font-weight: 600;
        color: #A5A5A5;
    }

    .suggestionNumEpisodes {
        top: 20px;
        float: right;
        font-size: 12px;
        line-height: 0px !important;
        margin-top: -10px;
        font-weight: 600;
        color: #A5A5A5;
    }
    
}
