.search {
    // background-color: red;
    margin-top: 130px;
    margin-bottom: 70px;
    font-weight: 700;

    .searchBarWrapper {
        height: 500px;
        // background-color: pink;
    }

    .searchHeader{
        text-align: center;
        padding-bottom: 60px;
        padding-top: 50px;
    }
}