.searchResults {
    margin-top: 100px;
    letter-spacing: 0em;
    // background-color: #a4a4a4;
    // height: 300px;

    .leftPane {
        // background-color: purple;
    }

    .rightPane {
        padding: 0 50px 0;
        // background-color: orange;
    }

    .artwork {
        border-radius: 10px;
    }
    
    .summaryWrapper {
        border-bottom: 1px #f1f1f1 solid;

        .title {
            font-size: 35px;
        }

        .artist {
            margin-top: -40px;
            font-weight: 500;
        }

        .description {
            font-weight: 500;
            margin-top: -10px;
        }
    }

    .episodeSection {
        font-weight: 500;
        // margin-top: 50px;
        
        .episode {
            // background-color: pink;
            width: 100%;
            border-bottom: 1px #f1f1f1 solid;
            padding: 10px 0 10px;
            // height: 50px;
            .episodeDate {
                font-size: 14px;
                color: #888888;
                font-weight: 700;
                text-transform: uppercase;
            }
            .episodeTitle {
                font-weight: 700;
                font-size: 18px;
            }
            
            .episodeDescription {
                // word-wrap: break-word;
                font-size: 13px;
                color: #888888;
                font-style: italic;
            }
        }

        
    }
    

}