.searchResults {
    margin-top: 100px;
    background-color: #a4a4a4;
    // height: 300px;

    .leftPane {
        background-color: purple;
    }

    .rightPane {
        background-color: orange;
    }
}