.website {
  width: 100%;
  max-width: 1200px;
  font-family: 'Inter', sans-serif;

  .notice {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-weight: 500;
    background-color: #F9EAFF;
    padding: 10pt;
  }
}